<div id='admin'>

	<%= render :partial => 'admin/sidebar' %>

	<div id='admin-content'>

		<h1>Edit Comment</h1>

		<div class="box">

			<%= render :partial => 'form' %>

			<p>
			<%= link_to "Back to Post", edit_post_url(@post) %>	 |
			<%= link_to "Delete Comment", post_comment_path(@post, comment), :confirm => 'Are you sure you want to delete this Comment', :method => :delete %>
			</p>

		</div><!-- end .box -->
	</div><!-- end #admin-content -->
</div><!-- end #admin -->