<div id='admin-sidebar'>
	<div class="box box_small">

		<h3>Administration</h3>

		<ul>
			<li><%= link_to "Posts", posts_path %></li>
			<li><a href="single.html">Users</a></li>
			<li><a href="single.html">Priviledges</a></li>
		</ul>

	</div> <!-- end .box .box_small -->
</div><!-- end #admin-sidebar -->