#sidebar_image{
width:280px;
height:420px;
overflow: hidden;
margin:0 auto;
border: none;
}

#sidebar_image img, #sidebar_image a img {
position:absolute;
z-index: 2;
visibility: hidden;
}

#sidebar #sidebar_image .current_img, #sidebar #sidebar_image .current_img img{
z-index: 3;
visibility: visible;
}