#nav2 {
	font-size: 12px;
}

#nav2 ul {
	float: right;
	list-style-type: none;
}

#nav2 ul li {
	float: left;
	margin: 12px 0px 0px 12px;
	padding: 0px 0px 0px 12px;
	background: url(../images/header_navi_bg.gif) left center no-repeat;
}

#nav2 ul li.no_bg {
	background: none;
	border: none;
}

#nav2 ul li a {
	text-decoration: none;
	border-bottom: none;
}

#nav2 ul li a:hover {
	color:#222;
	text-decoration: none;
}

#sidebar_image{
width:280px;
height:420px;
overflow: hidden;
margin:0 auto;
border: none;
}

#sidebar_image img, #sidebar_image a img {
position:absolute;
z-index: 2;
visibility: hidden;
}

#sidebar #sidebar_image .current_img, #sidebar #sidebar_image .current_img img{
z-index: 3;
visibility: visible;
}