<div id="featured">
		
	<div id="featured_image">
		<img src="files/images1.jpg" alt="" class='current_img' />
		<img src="files/images2.jpg" alt="" />
		<img src="files/images3.jpg" alt="" />
		<img src="files/images4.jpg" alt="" />
		<img src="files/images5.jpg" alt="" />
	</div><!--end featured_image-->
			
</div><!--end featured-->
		
<div id="infotext">
	<h2><%= @home_headline.content %></h2>
</div><!--end infotext-->
		
<div id="main">

	<div class="box box_small box1">
		<%= @home_leftbox_post.content %>
	</div><!-- end .box -->
			
	<div class="box box_small box2">
		<%= @home_middlebox_post.content %>
	</div><!-- end .box -->
			
	<div class="box box_small box3">
		<%= @home_rightbox_post.content %>
	</div><!-- end .box -->
			
</div><!--end main-->