<div id="main">
			
	<div id="content">
	
		<div class='entry'>
		
			<h2>About</h2>
				<p>
CAMS Global is a developer of civil infrastructure, industrial, commercial and residential property in the developing world.  Primarily active in Sub-Saharan Africa and Latin America, CAMS Global utilizes progressive building technologies to deliver the most cost effective, sustainable buildings and commercial real estate solutions available. 
				</p>			
				<p>CAMS Global is a developer of civil infrastructure, industrial, commercial and residential property in the developing world.  Primarily active in Sub-Saharan Africa and Latin America, CAMS Global utilizes progressive building technologies to deliver the most cost effective, sustainable buildings and commercial real estate solutions available. 
				</p>
				<p>CAMS Global works with leading international architects, master planners and technologists in conjunction with host-country professionals, leveraging global talent and resources to execute locally. 
				</p>				
				
				<p><img class='alignleft'  src="files/mediumpicture3.jpg" alt="" /></p>


				<p><h3>History</h3></p>

				<p>CAMS Global is a subsidiary of CAMS Group, a private equity and project development consortium that, among its other activities, has been a force in real estate development in emerging markets for some 37 years. Over its span, CAMS has developed employee and social housing, stadiums, hospitals, ports, hotels and other commercial projects throughout the Middle East, Latin America, Asia and Africa.  
</p>
<p>
	For additional reference, please see <a href="www.camsglobal.com">www.camsglobal.com</a>
</p>

				<h3>Leadership</h3>
<p>					Christopher Jannou, CEO</br>
<p>					Scott Oakford, COO</br>
<p>					Hal Wright, Chairman</br>
<p>					Maurice Biolley, Ben Collins, Business Development</br>


				<h3>Partners</h3>

<p>					Ministry of Lands and Human Settlement, Gov. of TZ</p>
<p>					Oz Architecture</p>
<p>					Hospitality Group</p>
<p>					PanelMex</p>
<p>					MaB Civil Engineering</p>
<p>					Winka Dubbeldam </p>
<p>					Lindy Roy</p>

<h3>Media</h3>
<h3>Citizenship</h3>







Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum. Aehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
				<br/>
				Allamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<h3>The Team</h3>
				<img class='alignleft'  src="files/bigpicture5.jpg" alt="" />
				<p>
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
				<br/>
				Allamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>	
				
		<!--end entry-->	
		</div>

	</div><!-- end content -->
	
</div><!--end main-->