<div id="main">
	
	<div id='sidebar'>

		<div class="box box_small">
		
			<div id="sidebar_image">
				<img src="files/sidebar1.jpg" alt="" class='current_img' />
				<img src="files/sidebar2.jpg" alt="" />
				<img src="files/sidebar3.jpg" alt="" />
				<img src="files/sidebar4.jpg" alt="" />
				<img src="files/sidebar5.jpg" alt="" />
			</div><!--end featured_image-->
			
		</div><!--end box-->
		
	</div><!-- end #sidebar -->
	
	<div id="content">
	
		<div class='entry'>
					
			<h2>About</h2>
				<p>CAMS Global is a developer of civil infrastructure, industrial, commercial and residential property in the developing world. Primarily active in Sub-Saharan Africa and Latin America, CAMS Global utilizes progressive building technologies to deliver the most cost effective, sustainable buildings and commercial real estate solutions available.</p>

				<p>Using ‘smart’ technologies, CAMS Global is able to deliver a wide range of building types and products, covering both public and private sector requirements and budgets. Starting with potential not past practices allows integration of new, evolving technologies to add value and usability to our products. CAMS Global works with leading international architects, master planners and technologists in conjunction with host-country professionals, leveraging global talent and resources to execute locally.</p>
				
				<p><img class='alignleft'  src="files/mediumpicture3.jpg" alt="" /></p>

		<!--end entry-->	
		</div>

	</div><!-- end content -->
	
</div><!--end main-->