<div id='sidebar'>

		<div class="box box_small">
		
			<div id="sidebar_image">
				<img src="files/sidebar1.jpg" alt="" class='current_img' />
				<img src="files/sidebar2.jpg" alt="" />
				<img src="files/sidebar3.jpg" alt="" />
				<img src="files/sidebar4.jpg" alt="" />
				<img src="files/sidebar5.jpg" alt="" />
			</div><!--end featured_image-->
			
		</div><!--end box-->
		
	</div><!-- end #sidebar -->
			
	<div id="content">
	
		<div class='entry'>
		
			<h2>Citizenship</h2>

			<p>Need text here</p>
			
		</div>
</div>
			