<div id="main">
	
	<div id='sidebar'>

		<div class="box box_small">
		
			<div id="sidebar_image">
				<img src="files/sidebar1.jpg" alt="" class='current_img' />
				<img src="files/sidebar2.jpg" alt="" />
				<img src="files/sidebar3.jpg" alt="" />
				<img src="files/sidebar4.jpg" alt="" />
				<img src="files/sidebar5.jpg" alt="" />
			</div><!--end featured_image-->
			
		</div><!--end box-->
		
	</div><!-- end #sidebar -->
			
	<div id="content">
	
		<div class='entry'>
		
			<h2>History</h2>

			<p>CAMS Global is a subsidiary of CAMS Group, a private equity and project development consortium that, among its other activities, has been a force in real estate development in emerging markets for some 37 years. Over its span, CAMS has developed employee and social housing, stadiums, hospitals, ports, hotels and other commercial projects throughout the Middle East, Latin America, Asia and Africa.</p>  

			<p>For additional reference, please see <a href='http://www.camsglobal.com'>www.camsglobal.com</a>.</p>

		</div>
	</div>
</div>