Delano San Silencio Resort and Residences

CAMS International is co-owner/developer of a $300M multi-phased residential/hotel resort on 65 hectares of Costa Rica’s central Pacific coast.  The project includes a hospitality JV with Morgan’s Hotel Group, who will operate the Delano and Mondrian hotels on the property.  The residential component includes an assortment of serviced ocean-view villas, cottages and condominiums.  Abutting several conservation areas, Delano San Silencio will set a new benchmark in luxury sustainable development in Costa Rica.

With the financial downturn of 2008, the project was postponed pending a return to normalcy of the finance and tourism sectors in the US.   That same year Delano San Silencio received honors as Hotel Design Magazine’s ‘Best Unbuilt Project’ Award for 2008.
