<div id="main">
	
	<div id='sidebar'>

		<div class="box box_small">
		
			<div id="sidebar_image">
				<img src="files/sidebar1.jpg" alt="" class='current_img' />
				<img src="files/sidebar2.jpg" alt="" />
				<img src="files/sidebar3.jpg" alt="" />
				<img src="files/sidebar4.jpg" alt="" />
				<img src="files/sidebar5.jpg" alt="" />
			</div><!--end featured_image-->
			
		</div><!--end box-->
		
	</div><!-- end #sidebar -->
			
	<div id="content">
	
		<div class='entry'>
		
			<h2>Hotels and Resorts</h2>

<h3>Delano San Silencio Resort and Residences</h3>

<p>CAMS International is co-owner/developer of a $300M multi-phased residential/hotel resort on 65 hectares of Costa Rica’s central Pacific coast.  The project includes a hospitality JV with Morgan’s Hotel Group, who will operate the Delano and Mondrian hotels on the property.  The residential component includes an assortment of serviced ocean-view villas, cottages and condominiums.  Abutting several conservation areas, Delano San Silencio will set a new benchmark in luxury sustainable development in Costa Rica.
</p>
<p>With the financial downturn of 2008, the project was postponed pending a return to normalcy of the finance and tourism sectors in the US.   That same year Delano San Silencio received honors as Hotel Design Magazine’s ‘Best Unbuilt Project’ Award for 2008.
</p>

		</div>
	</div>
</div>

