<div id='sidebar'>

		<div class="box box_small">
		
			<div id="sidebar_image">
				<img src="files/sidebar1.jpg" alt="" class='current_img' />
				<img src="files/sidebar2.jpg" alt="" />
				<img src="files/sidebar3.jpg" alt="" />
				<img src="files/sidebar4.jpg" alt="" />
				<img src="files/sidebar5.jpg" alt="" />
			</div><!--end featured_image-->
			
		</div><!--end box-->
		
	</div><!-- end #sidebar -->
			
	<div id="content">
	
		<div class='entry'>
		
			<h2>Portfolio</h2>

			<p>CAMS aggregates local knowledge and international expertise in the various stages of the real estate value chain, encompassing:</p>

			<ul><li>Development</li>
				<li>Financing</li>
				<li>Consultancy</li>
				<li>Project Management</li>
				<li>Building Technologies</li>
				<li>Construction Resource Management</li>
				<li>Site Supervision</li> 
				<li>Facilities Management</li>
				<li>Sustainability</li>
			</ul>

			<p>Complete building life cycle costs as wells as environmental factors are balanced with quality of life, cultural relevance, personal health and fulfillment goals creating a whole new way of looking at development.</p>
			
		</div>
	</div>