<div id="main">
			
	<div id="content">
	
		<div class='entry'>
		
			<h2>Residential</h2>


			<ul>
			<li><h3>Teacher’s Housing</h3>
			<p>The Government of Tanzania has set aside  $200M USD of the national budget for a program of teacher housing throughout the country to be implemented over a five-year span.</p></li>
			<li><h3>Police Housing</h3>
			<p>CAMS International is working with the National Social Security Fund, Ministry of Lands, Housing and Human Settlement and the National Police Department to provide thousands of affordable attached and detached houses to the police population and their families.  Houses will range from $18, 000 to $42,000 and are in the bidding stage.</p></li>

			<li><h3>Dar Es Salaam:  Urban Renewal</h3> 
			<p>CAMS has been asked by the Ministry of Lands, Housing and Human Settlement to develop high density housing solutions, along with commercial services, for 38 squatter sites in prime locations throughout Tanzania’s capital city Dar Es Salaam.  The goal is to revitalize the urban center by optimizing these prime sites whilst providing the land-rich, cash-poor tenants with legitimate assets in the form of high-density housing.</p></li>
			</ul>			
		</div>
	</div>
</div>